figure {
    margin: 0;
    width: 500px;
}
figure img {
    max-width: 100%;
    height: auto;
}
figure figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #666;
}
img {
    width: 100%;
}