apiVersion: apps/v1
kind: Deployment
metadata:
  name: jbot-website
spec:
  selector:
    matchLabels:
      app: jbot-website
  replicas: 1
  template:
    metadata:
      labels:
        app: jbot-website
    spec:
      containers:
      - name: jbot-website
        image: local/jbot-website:3.0.72
        imagePullPolicy: IfNotPresent
        env:
        - name: PORT
          value: "8080"
        - name: NODE_ENV
          value: "production"
        - name: FRED_API_KEY
          valueFrom:
            secretKeyRef:
              name: fred-api-key
              key: FRED_API_KEY
        - name: HUBOT_DISCORD_TOKEN
          valueFrom:
            secretKeyRef:
              name: discord-token
              key: HUBOT_DISCORD_TOKEN
        - name: COOKIE_SECRET
          valueFrom:
            secretKeyRef:
              name: cookie-secret
              key: COOKIE_SECRET
        - name: HUBOT_DISCOVERY_TOKEN
          valueFrom:
            secretKeyRef:
              name: hubot-discovery-token
              key: HUBOT_DISCOVERY_TOKEN
        - name: HUBOT_ALLOWED_ORIGINS
          value: "http://oplog-website:8080"
        - name: HUBOT_DISCOVERY_URL
          value: "ws://jbot-website-service:8080/discovery"
        - name: HUBOT_DISCOVERY_STORAGE
          value: ".data"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: jbot-website-service
spec:
  selector:
    app: jbot-website
  ports:
    - protocol: TCP
      port: 8080
