
<style>

</style>
<form>
    <input type="search" placeholder="Find something" name="searchTerm" id="searchTerm" value="" />
</form>
<table id="myList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Doctor</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<script type="module">
    import MakeKeyValueObservable from '../webapp/MakeKeyValueObservable.mjs'
    const keyPressed = e => {
        model.searchTerm = e.target.value
    }
    const model = MakeKeyValueObservable({
        searchTerm: null
    })
    const list = []
    for (let i = 0; i < 100; i++) {
        list.push({
            name: `Patient ${i}`,
            doctor: `Dr. ${i}`,
            status: `Status ${i}`,
            dueDate: `Due Date ${i}`
        })
    }
    const myList = document.querySelector('#myList tbody')
    const render = (key, old, value) => {
        myList.innerHTML = ''
        list.filter(item => item.name.startsWith(value)).forEach(item => {
            const row = document.createElement('tr')
            row.innerHTML = `
                <td>${item.name}</td>
                <td>${item.doctor}</td>
                <td>${item.status}</td>
                <td>${item.dueDate}</td>
            `
            myList.appendChild(row)
        })
    }
    model.observe('searchTerm', render)
    render()

    window.searchTerm.addEventListener('keyup', keyPressed)
    console.log('from page')
</script>
