<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <base href="./" />
  <!--<meta http-equiv="Content-Security-Policy" content="default-src https:"/>-->
  <title>${title ?? 'Joey Guerra - Certified Joey Engineer'}</title>
  <meta name="author" content="Joey Guerra" />
  <meta name="description" content="${excerpt ?? 'Joey Guerra website.'}" />
  <meta property="og:title" content="${title ?? 'Coding Examples'}" />
  <meta property="og:description" content="${excerpt ?? 'Coding examples using what I\'ve learned.'}" />
  <meta property="og:image" content="imgs/joey-g-boss-pic.jpg" />
  <meta property="og:site_name" content="${title ?? 'Coding Examples'}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" href="favicon_package_v0/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0/favicon-16x16.png" />
  <link rel="manifest" href="favicon_package_v0/site.webmanifest" />
  <link rel="mask-icon" href="favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="shortcut icon" href="favicon_package_v0/favicon.ico" />

  <link rel="apple-touch-startup-image" href="imgs/me.jpg" />
  <meta name="apple-mobile-web-app-title" content="Joey Guerra" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="canonical" href="${canonical}" />
  <link rel="stylesheet" href="/css/default.css" />

</head>

<body>
  <header>
    <h1 class="logo">
      <a href="/" title="Joey Guerra - Certified Joey Engineer">
        <span>Joey G</span>
        <span>a Software Engineer</span>
      </a>
    </h1>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav aria-label="Main Menu" class="menu">
      <ul>
        <li><a href="/" aria-label="Home" title="Go to the home page">Home</a></li>
        <li><a href="/about-me.html" aria-label="About" title="Read about me">About</a></li>
        <li><a href="/blog" aria-lable="Blog" title="My Web Log">Blog</a></li>
      </ul>
    </nav>
  </header>
  ${body}
  <footer>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me.html">About</a></li>
        <li><a href="/blog" aria-lable="Blog" title="My Web Log">Blog</a></li>
        <li><a href="mailto:frommywebsite@joeyguerra.com?subject=Wanna%20chat." id="contactLink">Contact</a></li>
      </ul>
    </nav>
    <small>This is my personal site. It's a playground I use to explore my own opinions and they are very dynamic.
      Please keep it in mind as you read through. I hope this site makes you happy.</small>
    <img src="/imgs/joeysgotwings.jpeg" alt="Joey's got wings" />
  </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" id="HotReloader">
  import { HotReloader } from '/js/HotReloader.mjs'
  const hotReloader = new HotReloader(window, io('/hot-reload'))
</script>
<script>
  document.addEventListener('DOMContentLoaded', e => {
    const hamburger = document.querySelector('.hamburger')
    const nav = document.querySelector('nav')
    hamburger.addEventListener('click', e => {
      hamburger.classList.toggle('active')
      nav.classList.toggle('active')
    }, true)
    nav.addEventListener('click', e => {
      hamburger.classList.remove('active')
      nav.classList.remove('active')
    }, true)
  }, true)
</script>

</html>