{{#> LayoutMain.html}}
<style>
    main section {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #efefef;
        display: flex;
        flex-direction: column;
    }
    figure {
        width: 300px;
    }
    figure img {
        width: 100%;
    }
</style>
<main>
    {{# each model.data.data.children }}
    <section>
        <header>
            <h2>
                <a href="https://www.reddit.com{{ data.permalink }}" target="_blank">{{ data.title }}</a>
            </h2>
            <p>
                {{ data.description }}
            </p>
            <small>
                <a href="https://www.reddit.com/{{ data.subreddit_name_prefixed }}" title="{{ data.subreddit_name_prefixed }}">{{ data.subreddit_name_prefixed }}</a>
            </small>
        </header>
        <article>
            {{{ data.selftext }}}
            {{#if (compare data.post_hint 'link')}}
                {{#if (compare data.thumbnail 'default' 'self')}}
            <figure>
                    {{#each data.preview.images}}
                <img src="{{ srouce.url }}" alt="{{ data.title }}" />
                    {{/each}}
                <figcaption>{{ data.title }}</figcaption>
            </figure>
                {{else}}
            <figure>
                <img src="{{ data.thumbnail }}" alt="{{ data.title }}" />
                <figcaption>{{ data.title }}</figcaption>
            </figure>
                {{/if}}
            {{/if}}
            {{#if (compare data.post_hint 'image')}}
            <figure>
                <img src="{{ data.url_overridden_by_dest }}" alt="{{ data.title }}" />
                <figcaption>{{ data.title }}</figcaption>
            </figure>
            {{/if}}
            {{#if (compare data.post_hint 'hosted:video')}}
            <video controls width="352" height="198">
                <source src="{{ data.secure_media.reddit_video.hls_url }}" type="application/x-mpegURL">
                {{ data.title }}
            </video>
            {{/if}}
        </article>
    </section>
{{/ each }}
    <section>

    </section>
</main>
{{/LayoutMain.html}}