<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <base href="${meta.baseHref()}"/>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src https:"/>-->
    <title>Joey Guerra's Software Engineering Blog</title>
    <meta name="author" content="Joey Guerra"/>
    <meta name="description" content="Blog about software engineering, agile, leadership, strategy and organizations."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="apple-touch-icon" href="/favicon_package_v0/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_package_v0/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0/favicon-16x16.png"/>
    <link rel="manifest" href="/favicon_package_v0/site.webmanifest"/>
    <link rel="mask-icon" href="/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <link rel="shortcut icon" href="/favicon_package_v0/favicon.ico"/>

    <link rel="apple-touch-startup-image" href="/imgs/me.jpg"/>
    <meta name="apple-mobile-web-app-title" content="Joey Guerra"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <script type="module">
      import App from "/webapp/App.mjs"
      const io = options => {
        return {
          emit(event, message){console.log("socket.emit", event, message)},
          on(event, callback){console.log("socket.on", event, callback)}
        }
      }
      function main(){
        window.addEventListener("load", e => {
          window.app = new App(window, io({
            reconnectionAttempts: 5
          }), {})
        }, true)
      }
      if('io' in window) main()
    </script>    
    <link rel="canonical" href="https://www.joeyguerra.com/blog/">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="preload" href="HubotSans/Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <style>
      @font-face {
        font-family: 'Hubot Sans';
        src:
          url('/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
          url('/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
        font-weight: 200 900;
        font-stretch: 75% 125%;
      }
      html, body {
        font-family: "Hubot Sans","Hubot Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      }
    </style>
  </head>
  <body>
    <header>
      <a title="Go to Joey's home page" href="/">
        <span>Joey's home page</span>
      </a>
    </header>
    <main role="main">
        <section>
        ${body}
        </section>
    </main>
    <footer>
        <small>This is my personal blog. It's a playground I use to explore my own opinions and they are very dynamic. Please keep it in mind as you read through. I hope this site makes you smile.</small>
        <a href="/" title="Go to Joey's home page">
          <img src="/imgs/joeysgotwings.jpeg" width="50%" alt="Joey's got wings" />
        </a>
        <a id="repo-link" href="https://github.com/joeyguerra/joeyguerra" title="Blog Repo">https://github.com/joeyguerra/joeyguerra</a>
    </footer>
  </body>
</html>