{{#> layouts/index.html}}
{{#if id}}
<form action="/contact" method="post">
{{else}}
<form action="/contacts" method="post">
{{/if}}
    <fieldset>
        <legend>A Contact</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="e.g. Joey Guerra" value="{{name}}">
        {{#if errors.name}}
        <span class="error">{{errors.name}}</span>
        {{/if}}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="e.g. joey@joeyguerra.com" value="{{email}}">
        {{#if errors.email}}
        <span class="error">{{errors.email}}</span>
        {{/if}}
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="phone" placeholder="e.g. (214) 682-8565" value="{{phone}}">
        {{#if errors.phone}}
        <span class="error">{{errors.phone}}</span>
        {{/if}}
        <input type="hidden" name="id" value="{{id}}">
        {{#if id}}
        <input type="hidden" name="_method" value="put">
        <button type="submit">Update</button>
        {{else}}
        <button type="submit">Add</button>
        {{/if}}
    </fieldset>
</form>
<a href="/contacts">Back to Contacts</a>
{{/ layouts/index.html}}